<!DOCTYPE html>
<html>
<head>
    <body>
        <p><%= "#{@name} has contacted you." %></p>
        </br>
        <p><%= "#{@body}" %></p>
        </br>
        <p><%= "Please respond to #{@email}." %></p>
    </body>
</head>
</html>