/* JUMBO TRON */
@import 'lib';

.jumbotron {
    background-color: $teal3;
    // background: transparent;
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding-top: 20vh;
    @include round-corners;
}

.jumbotron h1 {
    font-weight: 900;
    font-size: ($font-size * 3);
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: $heading-color;
    @media all and (max-width: 320px) {
        font-size: ($font-size * 2.5);
    }
}

.container .jumbotron {
    padding: 0;
    padding-bottom: ($padding * 2);
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 0;
    @include round-corners;
}

.container-fluid .jumbotron {
    padding-bottom: ($padding * 2);
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 0;
    @include round-corners;
}

.jumbotron h3 {
    font-weight: 400;
    color: $medium-grey;
    font-family: $heading-secondary;
    margin-bottom: $margin;
    font-weight: 400;
}

